.detalhe1{
  border: 10px;
  width: 150px;
  margin-right: 20px;
  border-radius: 5px;

}
.detalhe2{
  border: 10px;
  width: 100px;
  margin-right: 20px;
}
.detalhe3{
  border: 10px;
  width: 100px;
  margin-right: 20px;
}
